{{!-- 
{{#each characters}}
<div class="row">
    <div class="col-4">
        <h2 class="dashtitle"><img src="../images/masterball icon.png" class="card-img-top icon" alt="...">
            Team Name
        </h2>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-background-img" src="../images/pokedex2.png" alt="Card image">
                <div class="card-img-overlay">
                    <li class="list-group-item">{{number}}</li>
                    <img src="../images/pokemonimg/001Bulbasaur.png" class="card-img-top" alt="...">
                    <li class="list-group-item">{{name}}</li>
                    {{!-- Boxes for Types --}}
                    <li class="list-group-item types">{{type}}</li>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{{/each}}

{{#each characters}}
<div class="row justify-content-evenly">
    <div class="col-4">
        <h2 class="dashtitle"><img src="../images/eggicon.jpg" class="card-img-top icon" alt="...">
            Favorites </h2>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img class="card-background-img" src="../images/pokedex2.png" alt="Card image">
                <div class="card-img-overlay">
                    <li class="list-group-item">{{number}}</li>
                    <img src="../images/pokemonimg/001Bulbasaur.png" class="card-img-top" alt="...">
                    <li class="list-group-item">{{name}}</li>
                    {{!-- Boxes for Types --}}
                    <li class="list-group-item types">{{type}}</li>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}} --}}